---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/favicon.png">
  <meta property="og:title" content="Martín Risolino - Desarrollador De Sistemas">
  <meta property="og:description" content="Sitio web oficial de Martín Risolino, donde comparto mis proyectos y conocimientos en programación.">
  <meta property="og:image" content="https://www.martinrisolino.com.ar/images/martin.webp">
  <meta property="og:url" content="https://www.martinrisolino.com.ar">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Martín Risolino - Desarrollador Web">
  <meta name="twitter:description" content="Sitio web oficial de Martín Risolino, donde comparto mis proyectos y conocimientos en programación.">
  <meta name="twitter:image" content="https://www.martinrisolino.com.ar/images/martin.webp">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R9Z9241PWN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-R9Z9241PWN');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DFR47R3" 
            height="0" width="0" 
            style="display:none;visibility:hidden"></iframe>
  </noscript>

  <div id="cv" class="container">
    <slot />
  </div>

</body>
</html>
